* {
    font-family: 'Teachers', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f4f3f2;
}

header {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
}

form {
    display: grid;
    gap: 5px;
    margin: 10px;
}

ul,
li {
    font-size: 15px;
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

button {
    padding: 5px;
    font-size: 14px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
    cursor: pointer;
}

label {
    text-overflow: ellipsis;
    overflow: hidden;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.auth-buttons-container {
    position: absolute;
    top: 30px;
    right: 30px;
}

.auth-form-container,
.stats-container {
    border: 1px solid black;
    box-shadow: 6px 6px 41px 0px #aaa;
    border-radius: 5px;
    padding: 10px;
}

.auth-form-container {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 400px;
}

.auth-form-container::backdrop {
    background-color: rgba(0,0,0,0.5);
}

.form-field {
    height: 35px;
    display: grid;
    grid-auto-flow: column;
    justify-items: stretch;
}

.close-modal {
    font-weight: bold;
    font-size: 28px;
    align-self: start;
    justify-self: end;
    height: 20px;
    position: relative;
    top: -10px;
}

.close-modal:hover {
    cursor: pointer;
}

.auth-buttons {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.stay-logged-in {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30px auto;
    justify-items: start;
    align-items: center;
}

#stay-logged-in {
    position: relative;
    height: 20px;
    left: -8px;
    justify-self: start;
}

.welcome-container {
    min-height: 20px;
    font-style: italic;
}

.stats-container {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.colors-selected {
    height: auto;
}

.color-container {
    margin: auto;
    margin-top: 50px;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 10px;
}

.color {
    height: 300px;
    width: 300px;
    margin: auto;
    display: inline-block;
}

.notification-container {
    position: absolute;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    left: 20px;
    display: grid;
    gap: 10px;
    padding: 10px;
}

.notification {
    height: fit-content;
    border-radius: 10px;
    cursor: default;
    transition: opacity 2s ease-in-out;
    display: grid;
    grid-auto-flow: column;
}

.notification > div:first-child {
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.notification > div:nth-child(2) {
    padding: 10px;
    width: 300px;
    background-color: #bbb7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.information > div:first-child {
    background-color: #888a;
}

.error > div:first-child {
    background-color: #f00a;
}
  

@media only screen and (max-width: 650px) {

    header {
        padding-left: 0;
        margin: auto;
    }

    h1 {
        text-align: center;
        margin-bottom: 0;
    }

    .auth-buttons-container {
        position: initial;
        display: grid;
        justify-items: center;
    }

    .auth-form-container {
        position: initial;
        margin: auto;
        top: 0;
        left: 0;
    }

    .stats-container,
    .auth-form-container {
        width: 90vw
    }

    .color-container {
        grid-auto-flow: row;
        margin-top: 20px;
    }

    .color {
        height: 22vh;
        width: 22vh;
    }

    .notification-container {
        left: 5vw;
        width: 90vw;
    }
}

.hidden {
    visibility: hidden;
    display: none;
}