* {
    font-family: 'Sometype Mono', Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

form {
    display: grid;
    gap: 5px;
    margin: 10px;
}

ul,
li {
    font-size: 15px;
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

button {
    padding: 5px;
    font-size: 14px;
}

label {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* temp */
#color1 {
    background-color: #a4f23e;
}

#color2 {
    background-color: #6348ba;
}


/* end temp */

.form-field {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
}

.stay-logged-in {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    justify-self: start;
    height: min-content;
}

.hidden {
    visibility: hidden;
    display: none;
}

.stats-container {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 6px 41px 0px #888;
    width: max-content;
}

.colors-selected {
    height: auto;
}

.color-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    gap: 10px;
}

.color {
    height: 300px;
    width: 300px;
    margin: auto;
    display: inline-block;
}

.notification-container {
    position: absolute;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    left: 20px;
    display: grid;
    gap: 10px;
    padding: 10px;
}

.notification {
    height: fit-content;
    border-radius: 10px;
    cursor: default;
    transition: opacity 2s ease-in-out;
    display: grid;
    grid-auto-flow: column;
}

.notification > div:first-child {
    width: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.notification > div:nth-child(2) {
    padding: 10px;
    width: 300px;
    background-color: #bbb7;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.information > div:first-child {
    background-color: #888a;
}

.error > div:first-child {
    background-color: #f00a;
}
  

@media only screen and (max-width: 650px) {
    .stats-container {
        width: 90vw
    }

    .color-container {
        grid-auto-flow: row;
    }

    .color {
        height: 200px;
        width: 200px;
    }
}